.fbtn{
    text-align: center;
}

.respuesta{
    display: flex;
    justify-content: center; 
    width: 50%;
    
}

.respuesta div{
    margin-top: 10px;
    padding: .5rem;
    background-color: rgba(59, 59, 59);
    color: #fff;
    
}

.respuesta div:first-child{
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #f4dc41d7;
}

.respuesta div:nth-child(2){
    border-radius: 0 5px 5px 0;
}

.respuesta h3{
    font-weight: 200;
    font-size: 1.6rem;
}

.respuesta p{
    text-align: center;
    width: 100%;
}