.respuesta{
    width: 33%;
    margin: auto;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #fff;
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 5px;
}

img{
    width: 100%;
}

.imagen{
    width: 10%;
    margin: auto;
}

h4{text-align: center;}